div {
    align-items: center;
    text-align: center;
    background:rgb(180, 133, 243)
}

.function {
    background: rgb(231, 196, 196);
    border-radius: 5%;
    margin: 10px;
    padding: 10px;
   border-width: 20px;
   border-style:inset;
   border-color:blue;
}